/*=============== VARIABLE CSS ==================*/
:root {
    --header-height: 3rem;

    /*=============== COLORS ==================*/
    /* HSL color mode */
    --first-color : #FFFFFF;
    --first-color-second : #FFFFFF;
    --first-color-alt : #4E00B4;
    --title-color : #000000;
    --text-color : #626364;
    --text-color-light : #737373;
    --input-color : #FFFFFF;
    --body-color : #FFFFFF;
    --border-color: #FFFFFF;
    --button-color: #000000;

    /*=============== FONTS ==================*/
    --body-font: 'Montserrat', sans-serif;
    --title-font: 'Raleway', sans-serif;
    --biggest-font-size: 2.5rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1rem;
    --normal-font-size: 0.938rem;
    --small-font-size: 0.813rem;
    --smaller-font-size: 0.75rem;

    /*=============== FONTS WEIGHT ==================*/
    --font-medium: 500;
    --font-semi-bold: 600;

    /*=============== MARGINS BOTTOM ==================*/
    --mb-0-25: .25rem;
    --mb-0-5: .5rem;
    --mb-0-75: .75rem;
    --mb-1: 1rem;
    --mb-1-25: 1.25rem;
    --mb-1-5: 1.5rem;
    --mb-2: 2rem;
    --mb-2-5: 2.5rem;

    /*=============== Z INDEX ==================*/
    --z-tooltip: 10;
    --z-fixed: 100;

    /*=============== HOVER OVERLAY ==================*/
    --img-transition: .3s;
    --img-hidden: hidden;
    --img-scale: scale(1.1);
}

@media screen and (min-width: 968px) {
    :root {
        --biggest-font-size: 4rem;
        --h1-font-size: 2.25rem;
        --h2-font-size: 1.75rem;
        --h3-font-size: 1.25rem;
        --normal-font-size: 1rem;
        --small-font-size: 0.875rem;
        --smaller-font-size: 0.813rem;
    }
}

/*=============== VARIABLE DARK ==================*/
body.dark-theme{
    /* HSL color mode */
    --first-color : #FFFFFF;
    --first-color-second : #FFFFFF;
    --first-color-alt : #FFFFFF;
    --title-color : #FFFFFF;
    --text-color : #FFFFFF;
    --text-color-light : #737373;
    --input-color : #0B0929;
    --body-color : #0B0929;
    --border-color: #0B0929;
    --button-color: #4E00B4;
}

/*=============== BUTTON DARK LIGHT ==================*/
.nav_dark{
    display: flex;
    align-items: center;
    column-gap: 1rem;
    position: absolute;
    left: 3rem;
    bottom: 4rem;
}

.change-theme,
.change-theme-name{
    color: var(--text-color);
}

.change-theme{
    font-size: 1rem;
    cursor: pointer;
}

.change-theme-name{
    font-size: var(--small-font-size);
}

/*=============== BASE ==================*/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: var(--header-height) 0 0 0;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background-color: var(--body-color);
    color: var(--text-color);
    overflow-x: hidden;
}

h1, h2, h3{
    color: var(--title-color);
    font-weight: var(--font-semi-bold);
    font-family: var(--title-font);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img, video {
    max-width: 100%;
    height: auto;
}

button, input {
    border: none;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
}

button{
    cursor: pointer;
}

input {
    outline: none;
}

/*=============== REUSABLE CSS CLASSES ==================*/
.section {
    padding: 4.5rem 0 2.5rem;
}

.section_title {
    font-size: var(--h2-font-size);
    color: var(--title-color);
    text-align: center;
    margin-bottom: var(--mb-2);
}

.container {
    max-width: 968px;
    margin-left: var(--mb-1);
    margin-right: var(--mb-1);
}

.grid {
    display: grid;
    gap: 1.5rem;
}

/*=============== HEADER ==================*/
.header{
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: var(--z-fixed);
    background-color: transparent;
}

/*=============== NAV ==================*/
.nav{
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav_logo{
    font-weight: var(--font-semi-bold);
    color: var(--first-color-alt);
    border-right: 2px solid var(--text-color);
    padding-right: 2.5rem;
}

.nav_toggle{
    font-size: 1.2rem;
    color: var(--text-color);
    cursor: pointer;
}

.nav_menu{
    position: relative;
}

@media screen and (max-width: 767px) {
    .nav_menu{
        position: fixed;
        background-color: var(--body-color);
        top: 0;
        right: -100%;
        width: 70%;
        height: 100%;
        box-shadow: -1px 0px 4px #555555;
        padding: 3rem;
        transition: .4s;
    }
}

.nav_list{
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
}

.nav_link{
    color: var(--text-color-light);
    font-weight: var(--font-medium);
    text-transform: uppercase;
}

.nav_link:hover{
    color: var(--text-color);
}

.nav_close{
    position: absolute;
    top: .75rem;
    right: 1rem;
    font-size: 1.5rem;
    color: var(--title-color);
    cursor: pointer;
}

/*=============== SHOW MENU ==================*/
.show-menu{
    right: 0;
}

/*=============== CHANGE BACKGROUND HEADER ==================*/
.scroll-header,
.scroll-footer{
    background-color: var(--body-color);
    box-shadow: 0px 0px 4px #666666;
}

.scroll-header .nav_toggle{
    color: var(--title-color);
}

.scroll-header .nav_logo{
    color: var(--first-color-alt);
}

/*=============== ACTIVE LINK ==================*/
.active_link{
    color: var(--title-color) !important;
}

/*=============== HOME ==================*/
.home{
    background-color: var(--body-color);
}

.home_img{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    object-position: 83%;
    overflow: hidden;
}

.home_container{
    position: relative;
    height: calc(100vh - var(--header-height));
    align-content: center;
    row-gap: 1rem;
    z-index: var(--z-tooltip);
}

.home_data_subtitle,
.home_social_link{
    color: var(--text-color);
}

.home_data_subtitle{
    display: block;
    font-weight: var(--font-semi-bold);
    margin-bottom: var(--mb-0-75);
    font-size: var(--h2-font-size);
}

.home_data_title{
    font-size: var(--biggest-font-size);
    font-weight: var(--font-medium);
    margin-bottom: var(--mb-1);
}

.home_social{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 1.5rem;
}

.home_social_link{
    font-size: 1.2rem;
    width: max-content;
}

.home_social_link:hover{
    color: var(--title-color);
}

.carousel_container{
    margin-left: 0;
    margin-right: 0;
    display: flex;
    justify-content: center;
    border-radius: 50%;
}

.carousel_card{
    width: 288px;
    height: 288px;
    border-radius: 50%;
    overflow: var(--img-hidden);
    border: 15px solid var(--border-color);
}

.carousel_img{
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.carousel_nav{
    position: relative;
    display: flex;
    justify-content: space-between;
}

.swiper-pagination{
    bottom: 0;
    display: flex;
    justify-content: space-evenly;
    position: relative;
    width: 90%;
}

.swiper-pagination-bullet{
    width: 40px;
    height: 40px;
    opacity: 1;
}

.swiper-pagination-bullet:nth-child(1){
    background-image: url("../images/carousel_1.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.swiper-pagination-bullet:nth-child(2){
    background-image: url("../images/carousel_2.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.swiper-pagination-bullet:nth-child(3){
    background-image: url("../images/carousel_3.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.swiper-pagination-bullet:nth-child(4){
    background-image: url("../images/carousel_4.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.swiper-pagination-bullet-active{
    border: 3px solid var(--first-color-alt);
}

.swiper-button-prev,
.swiper-button-next{
    position: relative;
    color: var(--first-color-alt);
}

.swiper-button-prev::after,
.swiper-button-next::after{
    font-size: var(--h1-font-size);
    font-weight: var(--font-semi-bold);
}

/*=============== BUTTON ==================*/
.button{
    display: inline-block;
    background-color: var(--button-color);
    color: #fff;
    padding: .5rem;
    font-weight: var(--font-semi-bold);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: .25rem;
    transition: .3s;
}

.button_flex{
    display: flex;
    align-items: center;
    column-gap: .25rem;
}

.button_link{
    background-color: transparent;
    padding: 0;
}
.button_link:hover{
    background-color: transparent;
}

/*=============== FOOTER ==================*/
.footer{
    width: 100%;
    position: fixed;
    bottom: 0;
    padding: 1.5rem 0;
    z-index: var(--z-tooltip);
}

.footer h2{
    font-size: var(--normal-font-size);
}

/* .footer_work{
    width: 100%;
    position: fixed;
    bottom: 0;
    padding: 1.5rem 0;
    background-color: var(--body-color);
    z-index: var(--z-tooltip);
}

.footer_work h2{
    font-size: var(--normal-font-size);
} */

/*=============== ABOUT ==================*/
.about_container{
    position: relative;
    height: calc(100vh - var(--header-height));
    align-content: center;
    row-gap: 1rem;
    z-index: var(--z-tooltip);
    padding-top: 2.5rem;
}

.about_data_title{
    font-size: var(--h1-font-size);
    font-weight: var(--font-semi-bold);
    margin-bottom: var(--mb-1);
}

.about_data_text{
    color: var(--text-color);
    font-size: var(--normal-font-size);
    line-height: 20px;
}

.about_img{
    width: 288px;
    height: 288px;
    border-radius: 50%;
    overflow: var(--img-hidden);
    border: 15px solid var(--border-color);
    margin-left: auto;
    margin-right: auto;
}

.about_img img{
    height: 100%;
    object-fit: cover;
    object-position: center;
}

/*=============== WORK ==================*/
.work_container{
    position: relative;
    align-content: center;
    row-gap: 1rem;
    z-index: var(--z-tooltip);
    padding-top: 3.5rem;
    padding-bottom: 1.5rem;
}

.work_content{
    height: calc(100vh - 12rem);
    overflow-x: hidden;
    display: grid;
}

.work_wrapper{
    display: grid;
    row-gap: 1.5rem;
}

.work_card{
    width: 245px;
    height: 245px;
    overflow: hidden;
    border-radius: 50%;
    border: 15px solid var(--border-color);
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.work_card::before{
    content: '';
    width: 100%;
    height: 0;
    background-color: #000000;
    opacity: .4;
    position: absolute;
    top: 0;
    left: 0;
    transition: .4s;
}

.work_card:hover::before{
    height: 100%;
}

.work_img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
}

.work_list{
    position: absolute;
    width: 100%;
    top: -20%;
    left: 0;
    z-index: var(--z-tooltip);
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: .6rem;
    transition: .4s;
}

.work_item{
    background-color: var(--body-color);
    width: 35px;
    height: 35px;
    border-radius: 5px;
}

.work_link{
    font-size: var(--h2-font-size);
    color: var(--first-color-alt);
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 35px;
}

.work_card:hover .work_list{
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: .6rem;
    top: 50%;
    transform: translateY(-50%);
}

/*=============== CONTACT ==================*/
.contact_container{
    position: relative;
    height: calc(100vh - var(--header-height));
    align-content: center;
    row-gap: 1rem;
    z-index: var(--z-tooltip);
    margin-top: 1.5rem;
}

.contact_data{
    display: grid;
    grid-template-columns: 1fr;
    row-gap: .25rem;
}

.contact_title{
    font-size: var(--h2-font-size);
    margin-bottom: var(--mb-0-5);
}

.contact_data label{
    font-size: var(--smaller-font-size);
    font-weight: var(--font-semi-bold);
}

.contact_data input{
    font-size: var(--smaller-font-size);
    font-weight: var(--font-medium);
    padding: .4rem var(--mb-0-75);
    border-radius: 3px;
    background-color: var(--input-color);
    color: var(--title-color);
}

.contact_content{
    max-width: 100%;
    overflow-x: hidden;
}

/*=============== SCROLL BAR ==================*/
::-webkit-scrollbar{
    display: none;
}

 